@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
	padding: 0;
	margin: 0;
	color: #212529;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
}

button {
	all: unset;
	background-color: #28A0FF;
	padding: 5px;
	border-radius: 5px;
	color: white;
}

button:active {
	opacity: 0.6;
}

.container {
	width: 70%;
	position: absolute;
	top: 10%;
	left: 15%;
}

.content-head h4 {
	font-size: 25px;
	margin-bottom: 20px;	
}

#write_btn, 
#update-btn, 
#delete-btn,
#updateProc-btn,
.cancel-btn,
#enroll-btn {
	float: right;
}

.content-head .search-part {
	margin-bottom: 30px;	
}

.content-head form .search-part input {
	all: unset;
	width: 300px;
	height: 34px;
	border-radius: 5px;
	border: 1px solid #aaaaaa;
	text-indent: 5px;
}

.content-head .sort-part {
	margin-bottom: 15px;
}

.content-head .sort-part ul{
	list-style: none;
}

.content-head .sort-part li{
	display: inline;
	margin-right: 10px;
}

.content-body {
	float: left
}

.content-body {
	width: 70%;
}

.article-list {
	border-top: 1px solid #aaaaaa;
	list-style: none;
}

.article-list li {
	border-bottom: 1px solid #aaaaaa;	
}

.article-list li:hover {
	opacity: 0.6;
}

.article-num {
	color: #bebebe;
	font-size: 15px;
}

.article-title {
	font-size: 20px;
}

.article-date, .article-views {
	font-size: 12px;
}

.article-detail {
	margin-bottom: 10px;
}

.article-body {
	margin-top: 30px;
}

.btn-area {
	border-top: 1px solid #aaaaaa;
	margin-top: 100px;
}

.btn-area button {
	margin-top: 20px;
}

#update-btn,
#updateProc-btn,
#enroll-btn {
	margin-right: 10px;
}

.update-title-area,
.update-file-area {
	margin-bottom: 30px;
}

.update-title-area input,
.update-body-area textarea {
	all: unset;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	width: 500px;
}

.update-body-area textarea {
	height: 300px;
	resize: none;
}

.file-name {
	background-color: white;
	font-size: 13px;
	margin-left: -174px;
	padding: 0 100px 0 0;
}
